<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body{
    background-image:url({% static 'edit dish.jpeg' %});
    background-size:100% ;
       }
        #a{
        margin-left:600px;
        margin-bottom:350px;
        width:500px;
        height:300px;
        }

    </style>
</head>
<body>
<h1 align="center">Edit Rice & Briyani</h1><br><br>
<form method="post" enctype="multipart/form-data">{% csrf_token %}

    <div id="a">
        <input type="text" name="ricename" value="{{a.ricename}}"><br>
        <input type="text" name="price" value="{{a.price}}"><br>
        <input type="text" name="description" value="{{a.description}}"><br>
        <img src="{% static im %}"><br>
        <input type="file" name="img"><br>
        <input type="submit" name="update" class="btn btn-success">
    </div>

</form>

</body>
</html>