<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{% static 'success.png' %}" style="margin-left:590px" >
<h1 align="center">Your order has been placed successfully</h1>
<h3>Time Varies Based on Dishes and location</h3>
<h5>Preparation time:30 mins</h5>
<h5>Deliver time:50 mins</h5>
    <tr>
        <td><a href="http://127.0.0.1:8000/eat_app/paymentbill" type="submit" value="submit" class="btn btn-success">Submit</a></td>
    </tr>
</body>
</html>